@import '../../variables';

// admin account styles

.admin.login.module {
  margin-top: @fluid-eighth;

  .login.form {

    .login.button {
      padding: @space-small;
    }
  }

  @media (min-width: @phone-width) {
    width: @two-thirds;
  }

  @media (min-width: @tablet-width) {
    width: @half;
  }

  @media (min-width: @desktop-width) {
    width: @third;
  }
}