@import '../../variables';

// admin login styles

.admin.login.module {
  margin-top: @fluid-eighth;

  @media (min-width: @phone-width) {
    width: @two-thirds;
  }

  @media (min-width: @tablet-width) {
    width: @half;
  }

  @media (min-width: @desktop-width) {
    width: @third;
  }
}