@import '../../variables';

// form module styles

.form.module {
  margin: @space-base auto;

  .title {
    margin-bottom: @space-mini;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: @space-atomic;
    color: @gray-light;
  }

  .form {
    padding: @space-base;
    border: @space-atomic solid @gray-light;
    background: @neutral-color;
  }
}