@import '../../variables';

// form module styles

.module {

  &.form {
    margin: @space-base auto;

    .title {
      color: @gray-light;
    }

    .form {
      padding: @space-base;
      border: @space-atomic solid @gray-light;
      background: @neutral-color;

      .input.group {
        display: flex;
        margin-bottom: @space-base;
        padding: @space-tiny;
        border: @space-atomic solid @gray-light;
        background-color: @light;

        .label {
          color: @gray-light;
        }

        .icon {
          padding: 0 @space-mini;
          color: @gray-light;
        }

        .input {
          flex: 1;
          margin: 0;
          padding: 0;
          padding-left: @space-base;
          border: 0;
          outline: 0;
          font-size: @font-size-base;
        }

        textarea.input {
          height: @fluid-third;
        }
      }
    }
  }

  &.alerts {
    margin: -@space-base;
    margin-bottom: @space-base;
    padding: @space-mini @space-base;
    background-color: @gray-light;
    color: @primary-color;

    .alert {
      margin: 0;
      font-size: @font-size-base;

      &:first-child {
        margin-top: @space-small;
      }

      &:last-child {
        margin-bottom: @space-small;
      }
    }
  }
}

