@import '../../variables';

// projects styles

.projects {
  margin: @space-base auto;

  .project {

    .title {

    }

    .image {
      width: @full;
      margin: 0 auto;
    }

    .content {

    }
  }
}