@import '../../variables';

// header styles

.header {
  position: relative;
  padding: @space-tiny;
  background: @background-color;
  z-index: 1;

  .title {
    margin: 0;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: @space-mini;

    .route {
      color: @header-color;
      font-family: @font-family-header;
      text-decoration: none;
      line-height: @line-height-base;

      &:hover {
        color: @highlight-color;
      }
    }
  }

  .buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: @full;

    .icon.button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      &.admin {
        left: 0;
        right: auto;
      }
    }
  }
}
