@import '../../variables';

// header styles

.header {
  position: relative;
  padding: @space-tiny;
  background: @background-color;
  z-index: 1;

  .title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: @space-mini;
  }

  .buttons {
    float: right;
    z-index: 1;

    .icon.button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
