@import '_variables';

html {

  body {
    margin: 0;

    p, a, li, td, blockquote, article, figure, pre, code {
      margin: 0;
      color: $font-color;
      font-size: modular-scale(1);
    }

    h1, h2, h3, h4, h5, h6, .title {
      margin: 0;
      color: $header-color;
    }
  }
}