@import '../../variables';

// admin styles

.view.admin {

  .projects.module {
    margin: @space-base auto;
    padding: 0;

    .project {
      display: block;
      position: relative;
      margin: 0;
      padding: @space-base 0;
      border-bottom: @space-atomic solid @divider-color;

      .path {

        .title {
          margin: 0;
        }

        &:hover,
        &:focus {
          text-decoration: none;

          .title {
            color: @link-color;
            font-weight: bold;
            letter-spacing: @space-mini;
          }
        }
      }

      .remove.project.button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: @space-small - @space-quantum 0;
        font-size: @font-size-base + @font-size-tiny;

        @media (min-width: @tablet-width) {
          font-size: @font-size-base + @font-size-small;
        }

        @media (min-width: @desktop-width) {
          font-size: @font-size-large;
        }

        @media (min-width: @large-desktop-width) {
          font-size: @font-size-large + @font-size-mini;
        }

        @media (min-width: @huge-desktop-width) {
          font-size: @font-size-large + @font-size-tiny;
        }

        @media (min-width: @jumbo-desktop-width) {
          font-size: @font-size-large + @font-size-small;
        }

        @media (min-width: @giant-desktop-width) {
          font-size: @font-size-huge;
        }

        @media (min-width: @massive-desktop-width) {
          font-size: @font-size-huge + @font-size-mini;
        }

        &:hover,
        &:focus {
          color: @highlight-color;
        }
      }

      &:last-child {
        border: 0;
      }
    }
  }

  .new.project.button {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}