@import '../../variables';

// admin styles

.view.admin {

  .projects.module {
    margin: @space-base auto;

    .project {
      display: block;
      position: relative;
      margin: 0;
      padding: @space-base 0;
      border-bottom: @space-atomic solid @divider-color;

      .title {
        margin: 0;
      }

      .remove.project {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
      }

      &:last-child {
        border: 0;
      }
      
      &:hover,
      &:focus {
        text-decoration: none;

        .title {
          color: @link-color;
        }
      }
    }
  }

  .new.project.button {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}