@import '../../variables';

// view styles

.view {
  flex: 1;
  position: relative;
  margin: 0;
  padding: @space-base;
  z-index: 1;

  .title {
    margin-bottom: @space-mini;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: @space-atomic;
    transition: all @fast;
  }
}
