@import '../../variables';

// view styles

.view {
  flex: 1;
  position: relative;
  margin: 0;
  padding: @space-base;
  z-index: 1;

  @media (min-width: @desktop-width) {
    margin-right: @sixteenth;
    margin-left: @sixteenth;
  }

  @media (min-width: @huge-desktop-width) {
    margin-right: @eighth;
    margin-left: @eighth;
  }

  @media (min-width: @giant-desktop-width) {
    margin-right: @eighth + @sixteenth;
    margin-left: @eighth + @sixteenth;
  }

  .title {
    margin-bottom: @space-mini;
    text-transform: uppercase;
    transition: all @fast;
  }
}
